* {
    padding: 0;
    margin: 0;
}

.container {
    display: flex;
    flex-direction: row;
    justify-content: center;

    margin-top: 10vh;
}

table {
    border: black 2px solid;
    border-radius: 10px;
    width: 70%;
    padding: 2px;
    color: white;
    background-color: black;
}

th, td {
    padding: 15px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

th {
    background-color: #838383;
}

tr:nth-child(even) {background-color: #494747;}
