table {
    border: black 2px solid;
    border-radius: 10px;
    width: 90%;
    padding: 2px;
    background-color: #8f8f8f;
}

th, td {
    padding: 5px 15px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

td {
    border-right: #cccccc 1px solid;
}

th {
    background-color: #6c6b6b;
}

tr:nth-child(even) {
    background-color: #3b3b3b;
}
